# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/

# PyInstaller build folders
build/
dist/
CodeDocs.spec

# VSCode
.vscode/

# OS files
Thumbs.db
.DS_Store

# Logs
*.log
